<!DOCTYPE html>
<html>
  <head>
    <title>Lorem Ipsum Generator</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container container-fluid">
      <h4 class="mt-2 px-2">Lorem Ipsum Generator</h4>
      <div id="bar" class="p-3 mb-2 text-white bg-dark"><%= text %></div>
      <button
        class="btn btn-primary"
        data-clipboard-action="copy"
        data-clipboard-target="#bar"
      >
      Copy to clipboard
      </button>
      <div class="p-3 mb-2 text-secondary">
        Sucessfully generated <%= count %> <%= typegen %>. For differnt
          parameters of Lorem Ipsum please <a href="/">go back</a>. With same
          options of random text, just refresh the page.
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script>
    var clipboard = new ClipboardJS(".btn");
    clipboard.on("success", function (e) {
      console.log(e);
    });

    clipboard.on("error", function (e) {
      console.log(e);
    });
  </script>
</html>
