<!DOCTYPE html>
<html>
  <head>
    <title>Lorem Ipsum Generator</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h4 class="mt-2 px-2">Lorem Ipsum Generator</h4>
      <form action="/generate" method="post" class="alert alert-info">
        <h5>Count</h5>
        <div class="form-group">
          <input type="number" class="form-control" id="count" name="count" required>
        </div>
        <h5>Units</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typegen" id="words" value="words" name="words" checked>
          <label class="form-check-label" for="words">
            Words
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="type-gen" value="sentences" name="typegen">
          <label class="form-check-label" for="sentences">
            Sentences
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="type-gen" value="paragraphs" name="typegen">
          <label class="form-check-label" for="paragraphs">
            Paragraphs
          </label>
        </div>        
        <button type="submit" class="mx-auto btn btn-primary">Submit</button>
      </form>
    </div>    
  </body>
</html>
